# coding: utf-8

"""
    ChronoSheets API

    <div style='font-size: 14px!important;font-family: Open Sans,sans-serif!important;color: #3b4151!important;'><p>      ChronoSheets is a flexible timesheet solution for small to medium businesses, it is free for small teams of up to 3 and there are iOS and Android apps available.  Use the ChronoSheets API to create your own custom integrations.  Before starting, sign up for a ChronoSheets account at <a target='_BLANK' href='http://tsheets.xyz/signup'>http://tsheets.xyz/signup</a>.  </p></div><div id='cs-extra-info'></div>  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from ChronoSheetsAPI.api_client import ApiClient


class TripsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def trips_create_trip(self, request, x_chronosheets_auth, **kwargs):  # noqa: E501
        """Create a new trip.  Important: create a timesheet record before calling this, passing in the new timesheet record id as a reference.    Requires the 'SubmitTimesheets' permission.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trips_create_trip(request, x_chronosheets_auth, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CSCreateTripRequest request: A Create Trip Request object containing values for the new Trip to create (required)
        :param str x_chronosheets_auth: The ChronoSheets Auth Token (required)
        :return: CSApiResponseInt32
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.trips_create_trip_with_http_info(request, x_chronosheets_auth, **kwargs)  # noqa: E501
        else:
            (data) = self.trips_create_trip_with_http_info(request, x_chronosheets_auth, **kwargs)  # noqa: E501
            return data

    def trips_create_trip_with_http_info(self, request, x_chronosheets_auth, **kwargs):  # noqa: E501
        """Create a new trip.  Important: create a timesheet record before calling this, passing in the new timesheet record id as a reference.    Requires the 'SubmitTimesheets' permission.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trips_create_trip_with_http_info(request, x_chronosheets_auth, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CSCreateTripRequest request: A Create Trip Request object containing values for the new Trip to create (required)
        :param str x_chronosheets_auth: The ChronoSheets Auth Token (required)
        :return: CSApiResponseInt32
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'x_chronosheets_auth']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method trips_create_trip" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `trips_create_trip`")  # noqa: E501
        # verify the required parameter 'x_chronosheets_auth' is set
        if ('x_chronosheets_auth' not in params or
                params['x_chronosheets_auth'] is None):
            raise ValueError("Missing the required parameter `x_chronosheets_auth` when calling `trips_create_trip`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_chronosheets_auth' in params:
            header_params['x-chronosheets-auth'] = params['x_chronosheets_auth']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/Trips/CreateTrip', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CSApiResponseInt32',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def trips_get_my_trip_by_id(self, trip_id, x_chronosheets_auth, **kwargs):  # noqa: E501
        """Get trip by Id.    Requires the 'ViewMyTrips' permission.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trips_get_my_trip_by_id(trip_id, x_chronosheets_auth, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int trip_id: The ID of the Trip you want to get (required)
        :param str x_chronosheets_auth: The ChronoSheets Auth Token (required)
        :return: CSApiResponseTrip
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.trips_get_my_trip_by_id_with_http_info(trip_id, x_chronosheets_auth, **kwargs)  # noqa: E501
        else:
            (data) = self.trips_get_my_trip_by_id_with_http_info(trip_id, x_chronosheets_auth, **kwargs)  # noqa: E501
            return data

    def trips_get_my_trip_by_id_with_http_info(self, trip_id, x_chronosheets_auth, **kwargs):  # noqa: E501
        """Get trip by Id.    Requires the 'ViewMyTrips' permission.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trips_get_my_trip_by_id_with_http_info(trip_id, x_chronosheets_auth, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int trip_id: The ID of the Trip you want to get (required)
        :param str x_chronosheets_auth: The ChronoSheets Auth Token (required)
        :return: CSApiResponseTrip
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['trip_id', 'x_chronosheets_auth']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method trips_get_my_trip_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'trip_id' is set
        if ('trip_id' not in params or
                params['trip_id'] is None):
            raise ValueError("Missing the required parameter `trip_id` when calling `trips_get_my_trip_by_id`")  # noqa: E501
        # verify the required parameter 'x_chronosheets_auth' is set
        if ('x_chronosheets_auth' not in params or
                params['x_chronosheets_auth'] is None):
            raise ValueError("Missing the required parameter `x_chronosheets_auth` when calling `trips_get_my_trip_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'trip_id' in params:
            query_params.append(('TripId', params['trip_id']))  # noqa: E501

        header_params = {}
        if 'x_chronosheets_auth' in params:
            header_params['x-chronosheets-auth'] = params['x_chronosheets_auth']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/Trips/GetMyTripById', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CSApiResponseTrip',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def trips_get_my_trips(self, start_date, end_date, x_chronosheets_auth, **kwargs):  # noqa: E501
        """Get my trips.  Get the GPS trips you've recorded and submitted.    Requires the 'ViewMyTrips' permission.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trips_get_my_trips(start_date, end_date, x_chronosheets_auth, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start_date: The Start date of the date range.  Trips after this date will be obtained. (required)
        :param datetime end_date: The End date of the date range.  Trips before this date will be obtained. (required)
        :param str x_chronosheets_auth: The ChronoSheets Auth Token (required)
        :param int skip: Skip this many Trips
        :param int take: Take this many Trips
        :param int vehicle_id: Filter by a particular Vehicle (get trips made with a particular vehicle), specified by VehicleId
        :return: CSApiResponseForPaginatedListTrip
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.trips_get_my_trips_with_http_info(start_date, end_date, x_chronosheets_auth, **kwargs)  # noqa: E501
        else:
            (data) = self.trips_get_my_trips_with_http_info(start_date, end_date, x_chronosheets_auth, **kwargs)  # noqa: E501
            return data

    def trips_get_my_trips_with_http_info(self, start_date, end_date, x_chronosheets_auth, **kwargs):  # noqa: E501
        """Get my trips.  Get the GPS trips you've recorded and submitted.    Requires the 'ViewMyTrips' permission.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trips_get_my_trips_with_http_info(start_date, end_date, x_chronosheets_auth, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start_date: The Start date of the date range.  Trips after this date will be obtained. (required)
        :param datetime end_date: The End date of the date range.  Trips before this date will be obtained. (required)
        :param str x_chronosheets_auth: The ChronoSheets Auth Token (required)
        :param int skip: Skip this many Trips
        :param int take: Take this many Trips
        :param int vehicle_id: Filter by a particular Vehicle (get trips made with a particular vehicle), specified by VehicleId
        :return: CSApiResponseForPaginatedListTrip
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'x_chronosheets_auth', 'skip', 'take', 'vehicle_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method trips_get_my_trips" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start_date' is set
        if ('start_date' not in params or
                params['start_date'] is None):
            raise ValueError("Missing the required parameter `start_date` when calling `trips_get_my_trips`")  # noqa: E501
        # verify the required parameter 'end_date' is set
        if ('end_date' not in params or
                params['end_date'] is None):
            raise ValueError("Missing the required parameter `end_date` when calling `trips_get_my_trips`")  # noqa: E501
        # verify the required parameter 'x_chronosheets_auth' is set
        if ('x_chronosheets_auth' not in params or
                params['x_chronosheets_auth'] is None):
            raise ValueError("Missing the required parameter `x_chronosheets_auth` when calling `trips_get_my_trips`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('StartDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('EndDate', params['end_date']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('Skip', params['skip']))  # noqa: E501
        if 'take' in params:
            query_params.append(('Take', params['take']))  # noqa: E501
        if 'vehicle_id' in params:
            query_params.append(('VehicleId', params['vehicle_id']))  # noqa: E501

        header_params = {}
        if 'x_chronosheets_auth' in params:
            header_params['x-chronosheets-auth'] = params['x_chronosheets_auth']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/Trips/GetMyTrips', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CSApiResponseForPaginatedListTrip',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
